.DS_store
node_modules
dist
cdk.out
infra/local/volumes
infra/local/chromium
src/open-api/open-api.json
config/values/local.config.json
events/*
!events/*.example.json
infra/cdk/cdk.output.json

# sst
.sst
